<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Attention, <%= @user.name %></h1>
    <p>
      Click Here To Reset Your Password:  <%= @url %> <br>
    </p>
    <p>
     <strong> Safely Ignore This Message If You Didn't Made This Request </strong>
    </p>
    <p>Regards Driveo Team</p>
  </body>
</html>